header,
footer,
section {
    width: 100%;    
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    background-color: $green-alpha;
}

footer {
    height: 100px;
    background-color: $green-alpha;
}

.l-content {    
    @include outer-container($max-width);        
}

.l-section-header {
    @include span-columns(4);
//    background-color: #ddd;
    
    h2 {
        text-align: right;
    }
}

.l-section-body { 
    @include span-columns(7);
    @include shift(1);
//    background-color: #ddd;
}

.l-section-bottom {
    height: 425px;
    background-color: $orange-alpha;
}