body {
    display: none;
}

header,
footer,
section {
    width: 100%;    
}

header {
    position: fixed;
    top: 0;
    height: 70px;
}

.l-content {    
    @include outer-container($max-width); 
    position: relative;
    
    @include media($screen-medium) {
        @include outer-container(90%);
    }
}

.l-section-header {
    @include span-columns(4);

    margin-top: 200px;
    
    @include media($screen-medium) {
        @include span-columns(3);
    }
    
    @include media($screen-small) {
        @include span-columns(1);
    }
    
    h2,
    h3,
    p {
        text-align: right;
    }
    
    img {
        float: right;
    }
}

.l-section-body { 
    @include span-columns(5);
    
    @include shift(1);
    margin-top: 130px;
    margin-bottom: 100px;
    
    @include media($screen-medium) {
        @include span-columns(6);
    }

    @include media($screen-small) {
        @include span-columns(1);
        @include shift(0);
        
        margin-top: 0;
    }
}

#services .l-section-body,
#work .l-section-body {
    margin-bottom: 165px;
}

#work {
    .l-section-body {
        @include span-columns(12);
        @include shift(0);
        margin-top: 35px;
        
        @include media($screen-small) {
            @include span-columns(1);
        }

        .l-work-project {
            float: left;
            width: 50%;
            height: 314px;
            
            @include media($screen-small) {
                width: 100%;
            }
        }
    }
}

.l-section-header-work {
    
    @include media($screen-medium) {
        @include span-columns(4);
    }

    @include media($screen-work-medium) {
        @include span-columns(2);
    }
}

.l-section-body-work { 
    @include span-columns(7);
    @include omega();
    @include shift(1);
    position: relative;
    margin-top: 130px;
    margin-bottom: 100px;
    
    @include media($screen-medium) {
        @include shift(0);
        
    }

    @include media($screen-work-medium) {
        @include span-columns(2);
        @include shift(0);
    }
}

footer {
    height: 100px;
    
    @include media($screen-small) {
        height: 200px;
    }
    
    .l-section-header {
        margin-top: 10px;
    }
    
    .l-section-body {
        margin-top: 0;
        margin-bottom: 0;
    }
}
