#about {
    overflow: hidden;
    position: relative;
    
    .l-section-body img {
        opacity: 0.25;
    }
}

.linkedin-sm {
    margin-right: 6px;
    vertical-align: 0;
}

.facebook-sm {
    margin-right: 8px;
    vertical-align: 0;
}

.twitter-sm {
    margin-right: 8px;
    vertical-align: 0;
}

.instagram-sm {
    margin-right: 8px;
    vertical-align: 0;
}
