#contact {
    padding-bottom: 50px;
    background: url("../img/egg-mesh-home-bg.png");
    background-position: center center;
    background-size: 60%;            
    background-color: $dark-gray;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.8);    
}

%form-bgs {
    @include transition(all 0.5s);
}

.form-normalbackground,
.form-select {
    @extend %form-bgs;
    opacity: 0.5;
//    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #fff;
}

.form-select {
    opacity: 0.9;
}

.form-normalbackground:first-child,
.form-select:first-child {
    margin-top: 0;
}
		
#fm-name, 
#fm-email, 
#fm-message {
    width: 100%;
    padding: 0.5em 0 0.5em 10px;
    background: transparent;
    border: 0;
    vertical-align: middle;	
    color: #aaa;
}

#fm-name,
#fm-email {
    height: 35px;
}

#fm-message {
    overflow: hidden;
    height: 154px;
}

.error {
    display: none;
    opacity: 0.8;
    height: 2em;
    padding-left: 10px;
    background-color: $orange;
    border: 0;	
    font-size: 0.8em;
    line-height: 2em;
    color: #fff;
}

textarea + .error {
    margin-bottom: 0;
}
	
#form-submitted {
    @include transition(all 0.5s);
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(85, 85, 85, 0.5);
    border-radius: 0;
}

.form-error {
    margin-bottom: 15px;
    background-color: $orange;
}

.form-success {
    margin-bottom: 15px;
    background-color: #666;
}
