footer {
    background-color: #000;
    
    .l-content {
        position: relative;
        height: 100%;
    }
    
    #logo-footer {
        display: block;
        opacity: 0.5;
        position: relative;
        top: 10px;
        margin: 0 auto;
    }
    
    p {
        @include vertical-align;
        opacity: 0.5;
        font-size: 0.75em;
        font-weight: 400;
        text-align: left;
        color: #fff;
        
        @include media($screen-small) {
            top: 110px;
            text-align: center;
        }
    }
    
    #social-icons {
        position: absolute;
        top: 40px;
        right: 0;

        @include media($screen-small) {
            display: block;
            position: relative;
            top: 75px;
            text-align: center;
        }

        img {
            opacity: 0.5;
            position: relative;
        }
    }
    
    
    #tumblr {
        margin-right: 10px;
    }
    
    #instagram {
        margin-right: 10px;
    }
}
