#nav-nobar,
#nav-bar {
    @include animation(rotate 1.75s ease-out);
    position: absolute;
    width: 22px;
    height: 23px;
    margin: 20px 0 0;
    background-image: url("../img/menu-white.svg");
    background-size: 100% 100%;
}

#nav-bar {
    z-index: 200;
    background-image: url("../img/menu-gray.svg");
}

#nav-menu {
    display: none;
    position: fixed;
    z-index: 300;
    top: 20px;
    width: 375px;
    background-color: rgba(155, 161, 158, 0.95);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);    
    color: $nav-menu-text-color;
    
    p {
        @include transition(background-color 0.25s linear, color 0.25s linear);
        z-index: 500;
        margin: 0;
        padding: 0 0 0 30px;
    }
    
    a {
        color: $nav-menu-text-color;
    }
        
    .nav-menu-select {
        background-color: rgba(255, 255, 255, 0.5);
        color: #9ba19e;
    }

    .nav-menu-location {
        color: $orange;
    } 
}

header {
    @include transition(all 0.25s);
    position: fixed;
    z-index: 100;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
    	
    #logo-header {
        position: relative;
        width: 100%;
        margin: 20px auto;
    }
}

.header-hide {
    @include transform(translateY(-100%));
}

.header-show {
    @include transform(translateY(0%));
}
