html,
body {
    height: 100%;
}

#logo {
    @include animation(fadeIn 0.75s ease-in);
    display: block;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

#home {
    height: 100%;
    
    h1, 
    p {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 100px;
        text-align: center;
    }
    
    p {
        padding-top: 50px;
        color: #fff;
    }  
    
    #footnote-2 {
        max-width: 50%;
        font-size: 1em;
    }
}
