html,
body {
    height: 100%;
}

#logo {
    @include animation(fadeIn 0.75s ease-in);
    display: block;
    position: relative;
    top: 20px;
    margin: 0 auto;
}

#home {
    height: 100%;
    background: url("../img/egg-mesh-home-bg.png") no-repeat;
    background-position: 50% 50%;
    background-size: 80%;    
    
    h1 {
        line-height: 0.52em;
    }

    #home-text {
        position: absolute;
        bottom: 50px;
        width: 100%;

        p {
            opacity: 0.8;
            position: relative;
            max-width: 90%;
            margin: 0 auto;
            font-weight: 300;
            text-align: center;
            color: #fff;
        }  
    }

    @media all and (orientation:portrait) {
        background-size: 125%;
    }
}
