html,
body {
    height: 100%;
}

#logo {
    @include animation(fadeIn 0.75s ease-in);
    display: block;
    position: relative;
    top: 20px;
    margin: 0 auto;
}

#home {
    height: 100%;
    background: url("../img/egg-mesh-home-bg.png") no-repeat;
    background-position: 50% 50%;
    background-size: 65%;
    
    #home-header {
        @include vertical-align;
    
        h1 {
            max-width: 90%;
            margin: -0.35em auto 0;
            line-height: 0.52em;
            text-align: center;
        }

        span {
            opacity: 0.8;
            color: $orange;
        }
    }

    #home-text {
        position: absolute;
        bottom: 10%;
        width: 100%;

        p {
            opacity: 0.8;
            position: relative;
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
            font-weight: 300;
            color: #fff;
        }  
    }
}

