#work {
    overflow: hidden; // mask for eggs
    position: relative;
}

// this is a bit of a hack just for 404 page
// which is built off the work page
.filenotfound {
    overflow: auto;
    height: 100%;
}

.work-project {
    position: relative;
    background-image: url("../img/bg-work.png");
    background-size: 28px 28px;
    border: 1px solid rgba(216, 216, 216, 0.20);
    
    .work-project-select {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 25% 32px 0;
        background-color: rgba(39, 39, 39, 0.5);
        color: #fff;
        
        h3, 
        p {
            display: none;
        }
    } 
    
    img {
        display: block;
        opacity: 0.9;
        margin: 0 auto;
    }
}

.work-example {
    @extend .work-project;
    position: relative;
    width: 586px;
    height: 362px;
    
    @include media($screen-medium) {
        width: 100%;
        
        img {
            width: 80%;
            height: auto;
        }
    }

    img {
        @include transform(translate(-50%, -50%));
        opacity: 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
    }
}

@include media($screen-medium) {
    .l-section-body-work div:nth-child(2) img {
        width: 50%;
    }
}

.work-example-border {
    border: 2px solid rgba(216, 216, 216, 0.20);
}

.l-section-header-work span {
    font-weight: 600;
}

.l-section-header-work .workdone {
    font-weight: 400;
}

.l-section-header-work a {
    color: $orange;
}

.swatch {
    opacity: 0.85;
}

.l-section-body-work .swatch {
    opacity: 0.85;
    position: absolute;
    top: 280px;
    right: -100px;

    @media only screen and (max-width: 1250px) {
        display: none;
    }
}

.worklink,
.worklink:active,
.worklink:hover,
.worklink:visited {
    text-decoration: none;
    color: $orange;
}
