#work {
    overflow: hidden; // mask for eggs
    position: relative;
}

.work-project {
    position: relative;
    background-image: url("../img/bg-work.png");
    background-size: 28px 28px;
    border: 1px solid rgba(216, 216, 216, 0.20);
    
    .work-project-select {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 25% 32px 0;
        background-color: rgba(39, 39, 39, 0.5);
        color: #fff;
    } 
}

.work-example {
    @extend .work-project;
    position: relative;
    width: 586px;
    height: 362px;
    
    img {
        @include transform(translate(-50%, -50%));
        opacity: 0.85;
        position: absolute;
        margin-right: -50%;
        top: 50%;
        left: 50%;
    }
}

.l-section-header-work span {
    font-weight: 800;
}

.l-section-header-work a {
    color: $orange;
}

.swatch {
    opacity: 0.85;
}

.l-section-body-work .swatch {
    opacity: 0.85;
    position: absolute;
    top: 280px;
    right: -100px;
}

.worklink,
.worklink:active,
.worklink:hover,
.worklink:visited {
    text-decoration: none;
    color: $orange;
}
